<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/public/img/logo_sigres.png" alt="Logo SIGRES" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">SIGRES</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/public/img/mia.jpg" class="img-circle elevation-2" alt="Imagen de usuario">
        </div>
        <div class="info">
          <a href="#" class="d-block">Carlos Flores</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="/" class="nav-link active">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>
                Tablero de control
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item menu-open">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>
                Pedidos
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-globe"></i>
              <p>
                Areas
                <span class="right badge badge-danger">5</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/perfil" class="nav-link">
              <i class="nav-icon fas fa-user-alt"></i>
              <p>
                Perfil
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                Cargos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/cargos" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../UI/icons.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/cargos/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-box"></i>
              <p>
                Pedidos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/pedidos" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/app/pedidos/buscar?b=0" class="nav-link buscarPedido">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidos/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-boxes"></i>
              <p>
                Pedidos Detalle
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/detallepedido" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/detallepedido/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/detallepedido/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-hand-holding"></i>
              <p>
                Pedidos Llevar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/pedidosllevar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidosllevar/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidosllevar/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-cash-register"></i>
              <p>
                Pedidos Ventas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/pedidosventas" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidosventas/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidosventas/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-window-close"></i>
              <p>
                Pedidos Cancelados
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/pedidoscancelados" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidoscancelados/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidoscancelados/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-check"></i>
              <p>
                Pedidos Elaborados
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/Pedidoselaborados" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/Pedidoselaborados/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/Pedidoselaborados/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-chair"></i>
              <p>
                Pedidos Mesa
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/pedidosmesa" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidosmesa/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pedidosmesa/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-box"></i>
              <p>
                Pedidos Entregados
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/entregapedido" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/entregapedido/buscar" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buscar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/entregapedido/nuevo" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="inicio/logout" class="nav-link" onclick="">
              <i class="nav-icon fas fa-window-close"></i>
              <p>
                Cerrar sesion
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>