 <!-- REQUIRED SCRIPTS -->
    
    <!-- jQuery -->
    <script src="/public/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/public/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/public/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script src="/public/plugins/select2/js/select2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/public/js/adminlte.js"></script>
</body>
</html>